<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[bird]</title>

    <link rel="stylesheet" href="/file.css">

</head>

<body>
    <h1>
        [bird]
    </h1>
    <ul>
        <li>
            <b>Speed:</b> 
        </li>
        <li>
            <b>Length:</b>
        </li>
        <li>
            <b>Weight:</b>
        </li>
        <li>
            <b>Wingspan:</b>
        </li>
        <li>
            <b>Lifespan:</b>
        </li>
        <li>
            <b>Scientific name:</b> 
        </li>
        <li>
            <b>Carnivorous</b>
        </li>
        <ul\>
            <img src="pics/[bird]1.jpg" alt="[bird] Photo" width="320px">
            <br>
            <img src="pics/[bird]2.jpg" alt="[bird] Photo" width="320px">
            

            <h2>
                Description
            </h2>
            <p>
                
            </p>

            

            <h2>
                Voice
            </h2>
            <p>
               
            </p>
            <h2>
                Habitat
            </h2>
            <p>
                
            </p>

            <h2>
                Behaviour
            </h2>
            <p>
               
            </p>

            <h2>
                Diet
            </h2>
            <p>
                
            </p>

            <h2>
                Fun Facts
            </h2>


            <footer>Info collected by: Arjun Kalpana Harshal Baviskar</footer>
            <p>
                <b>THANK YOU</b>
            </p>
</body>

</html>