body {
  background-color: rgb(229, 226, 226);
}


/* unvisited link */
a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: rgb(15, 75, 170);
}

/* mouse over link */
a:hover {
  color: rgb(49, 149, 40);
}

/* selected link */
a:active {
  color: black;
}

.grey {
  background-color: rgb(207, 207, 207);
}

.grey a:hover {
  color: rgb(240, 9, 9);
}

.white {
  background-color: rgb(248, 247, 240);
}

li {
  font-size: larger;
  line-height: 1.5;
  margin: 15px;
  border-style: solid;
}
